{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->



    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Login  Fotographie</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Login</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper">
            <!--News-->
            <section>
                    <div class="form-goup text-center">
                            <h4 class="text-muted">
                                    Not Registered for Fotographie? 
                                <a style="color:darkslateblue " href="{% url 'photo_register' %}">Register Here</a>  
                            </h3>
                        </div>
                        <br>
                <div class="container">
                        {% if messages %}
                        {% for message in messages %}
                            <div class="text-center alert alert-{{message.tags}}">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <form method="POST" action="{% url 'photo_login' %}">
                                        {% csrf_token %}

                                        <div class="form-group"> 
                                                <label for="email" class="col-form-label  requiredField">
                                                    Email
                                                    <span class="asteriskField">*</span>
                                                </label> 
                                                <div class=""> 
                                                    <input type="email" name="email" class="form-control" required id="id_email"> 
                                                </div> 
                                            </div>
                                            <div class="form-group"> 
                                                <label for="password" class="col-form-label  requiredField">
                                                    Password
                                                    <span class="asteriskField">*</span>
                                                </label> 
                                                <div class=""> 
                                                    <input type="password" name="password" class="form-control" required id="id_password"> 
                                                </div> 
                                            </div>
                                        <div class="form-goup text-center">
                                            <input class="lgx-btn hvr-glow hvr-radial-out lgxsend lgx-send" type="submit" value="Login">
                                        </div>
                            <!-- <form method="POST" class="lgx-contactform" action="http://themearth.com/demo/html/emeet/view/php/form-handler.php">
                                <div class="form-group">
                                    <input type="text" name="lgxname" class="form-control lgxname" id="lgxname" placeholder="Enter Your Name" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="lgxemail" class="form-control lgxemail" id="lgxemail" placeholder="Enter email" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="lgxsubject" class="form-control lgxsubject" id="lgxsubject" placeholder="Subject" required>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control lgxmessage" name="lgxmessage" id="lgxmessage" rows="5" placeholder="We expect drop some line from you..." required></textarea>
                                </div>



                            </form> -->

                            <!-- MODAL SECTION -->
                            <div id="lgx-form-modal" class="modal fade lgx-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content lgx-modal-content">
                                        <div class="modal-header lgx-modal-header">
                                            <button type="button" class="close brand-color-hover" data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-power-off"></i>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="alert lgx-form-msg" role="alert"></div>
                                        </div> <!--//MODAL BODY-->

                                    </div>
                                </div>
                            </div> <!-- //MODAL -->

                        </div> <!--//.COL-->
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>





{% endblock %}
