
:root {
	--init-x: 0;
	--init-y: 0;
	--dest-x: 0;
	--dest-y: 0;
	--dest-z: 0;
}
body {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
	background-color: #111;
	height: 95vh;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: scroll; /* Add vertical scrollbar */
}
.lingo {
	position: absolute;
	color: white;
	transform: translateZ(0);
	-webkit-animation: flythrough 5s forwards ease-in;
  transform-origin: center;
}

#thisSelect {
	position: absolute;
	height: 25px;
	z-index: 999999;
}

@-webkit-keyframes flythrough {
	0% {opacity: 0; transform: perspective(0px) translate3d(var(--init-x),var(--init-y),0px);}
	50% {opacity: 0.7;}
	100% {opacity: 0; transform: perspective(500px) translate3d(var(--dest-x),var(--dest-y), var(--dest-z));}
}