{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <!-- <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="">
                    Log In        
                </legend>
                
            </fieldset>
            <div class="form-goup">
                <input class="btn btn-outline-info" type="submit" value="Login">
            </div>

        </form>
        <div class="border-to pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div> -->







<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="lgx-container ">
<!-- ***  ADD YOUR SITE CONTENT HERE *** -->


<!--HEADER-->
<header>
    <div id="lgx-header" class="lgx-header">
        <div class="lgx-header-position lgx-header-position-white lgx-header-position-fixed "> <!--lgx-header-position-fixed lgx-header-position-white lgx-header-fixed-container lgx-header-fixed-container-gap lgx-header-position-white-->
            <div class="lgx-container"> <!--lgx-container-fluid-->
                <nav class="navbar navbar-default lgx-navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="lgx-logo">
                            <a href="index.html" class="lgx-scroll">
                                <img src="{% static 'assets/img/logo.png' %}" alt="Eventhunt Logo"/>
                            </a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse lgx-collapse">
                        <ul class="nav navbar-nav lgx-nav">
                            <li>
                                <a href="index.html" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="index.html">Home (Default)</a></li>
                                    <li><a href="index2.html">Box Layout</a></li>
                                    <li><a href="index3.html">Home Parallax</a></li>
                                    <li><a href="index4.html">Home Four</a></li>
                                    <li><a href="index5.html">Home Typed</a></li>
                                    <li><a href="index6.html">Home Six</a></li>
                                    <li><a href="index7.html">Home Seven</a></li>
                                    <li><a href="index8.html">Home Eight</a></li>
                                    <li><a href="index9.html">Home Registration</a></li>
                                    <li><a href="index10.html">Home Registration2</a></li>
                                    <li><a href="index11.html">Home Eleven</a></li>
                                    <li><a href="index12.html">Home Twelve</a></li>
                                    <li><a href="index13.html">Home Slider</a></li>
                                    <li><a href="index14.html">Home Slider2</a></li>
                                    <li><a href="index15.html">Home Music</a></li>
                                    <li><a href="index16.html">Home Sixteen</a></li>
                                    <li><a href="index17.html">Home Christmas</a></li>
                                    <li><a href="index18.html">Home Comingsoon</a></li>
                                </ul>
                            <li>
                            <li>
                                <a href="index.html" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="schedules.html">Schedule</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="speakers.html">Speakers List</a></li>
                                            <li><a href="speaker.html">Speaker Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="sponsors.html">Sponsors List</a></li>
                                    <li><a href="registration.html">Registration</a></li>
                                    <li><a href="gallery.html">Photo Gallery</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="news.html">News</a></li>
                                            <li><a href="news-single.html">News Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Two<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Dropdown Three</a></li>
                                                    <li><a href="#">Dropdown Three</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Dropdown Two</a></li>
                                            <li><a href="#">Dropdown Two</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="lgx-scroll" href="#lgx-speakers">Speaker</a></li>
                            <li><a class="lgx-scroll" href="#lgx-schedule">Schedule</a></li>
                            <li><a class="lgx-scroll" href="#lgx-sponsors">Sponsors</a></li>
                            <li><a class="lgx-scroll" href="#lgx-news">News</a></li>
                            <li><a class="lgx-scroll" href="contact.html">Contact</a></li>
                        </ul>
                        <div class="lgx-nav-right">
                            <div class="lgx-cart-area">
                                <a class="lgx-btn lgx-btn-red" href="#">Buy Ticket</a>
                            </div>
                        </div>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</header>
<!--HEADER END-->



    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Get In Touch</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper">
            <!--News-->
            <section>
                <div class="container">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <form method="POST">
                                        {% csrf_token %}
                                        
                                        <legend class="text-center">
                                                <h3>Login Nakshatra</h3>      
                                        </legend>
                                            
                                        {{form|crispy}}
                                        <div class="form-goup text-center">
                                            <input class="lgx-btn hvr-glow hvr-radial-out lgxsend lgx-send" type="submit" value="Login">
                                        </div>
                            
                                    </form>
                                    <div class="form-goup text-center">
                                        <h4 class="text-muted">
                                            Need An Account? 
                                            <a href="{% url 'register' %}">Sign Up Now</a>  
                                        </h3>
                                                        
                                        
                                    </div>
                            <!-- <form method="POST" class="lgx-contactform" action="http://themearth.com/demo/html/emeet/view/php/form-handler.php">
                                <div class="form-group">
                                    <input type="text" name="lgxname" class="form-control lgxname" id="lgxname" placeholder="Enter Your Name" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="lgxemail" class="form-control lgxemail" id="lgxemail" placeholder="Enter email" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="lgxsubject" class="form-control lgxsubject" id="lgxsubject" placeholder="Subject" required>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control lgxmessage" name="lgxmessage" id="lgxmessage" rows="5" placeholder="We expect drop some line from you..." required></textarea>
                                </div>


                                
                            </form> -->

                            <!-- MODAL SECTION -->
                            <div id="lgx-form-modal" class="modal fade lgx-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content lgx-modal-content">
                                        <div class="modal-header lgx-modal-header">
                                            <button type="button" class="close brand-color-hover" data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-power-off"></i>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="alert lgx-form-msg" role="alert"></div>
                                        </div> <!--//MODAL BODY-->

                                    </div>
                                </div>
                            </div> <!-- //MODAL -->

                        </div> <!--//.COL-->
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>




<!--FOOTER-->
<footer>
    <div id="lgx-footer" class="lgx-footer lgx-footer-black"> <!--lgx-footer-black-->
        
            <div class="container">
                <div class="lgx-footer-area">
                    <div class="lgx-footer-single">
                        <a class="logo" href="index.html"><img src="{% static 'assets/img/footer-logo.png'%}" alt="Logo"></a>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Venue Location </h3>
                        <h4 class="date">
                            18 - 21 December, 2019
                        </h4>
                        <address>
                            85 Golden Street, Darlinghurst <br>
                            ERP 2019, United States
                        </address>
                        <a id="myModalLabel2" data-toggle="modal" data-target="#lgx-modal-map" class="map-link" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> View Map location</a>
                    </div>
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Social Connection</h3>
                        <p class="text">
                            You should connect social area <br> for Any update
                        </p>
                        <ul class="list-inline lgx-social-footer">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!--<div class="lgx-footer-single">
                        <h2 class="footer-title">Instagram Feed</h2>
                        <div id="instafeed">
                        </div>
                    </div>-->
                </div>
                <!-- Modal-->
                <div id="lgx-modal-map" class="modal fade lgx-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="lgxmapcanvas map-canvas-default" id="map_canvas"> </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- //.Modal-->

                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <p> <span>©</span> 2018 EventHunt is powered by <a href="../../../../../www.themearth.com/index.html">themearth.</a> The property of their owners.</p>
                    </div>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>
</footer>
<!--FOOTER END-->


</div>
<!--//.LGX SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->
<!-- JQUERY  -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js'%}"></script>

<!-- BOOTSTRAP JS  -->
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.min.js'%}"></script>

<!-- Smooth Scroll  -->
<script src="{% static 'assets/libs/jquery.smooth-scroll.js'%}"></script>

<!-- SKILLS SCRIPT  -->
<script src="{% static 'assets/libs/jquery.validate.js'%}"></script>

<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script type="text/javascript" src="../../../../../maps.googleapis.com/maps/api/js8c05?key=AIzaSyDQvRGGtL6OrpP5xVMxq_0NgiMiRhm3ycI"></script>

<!-- CUSTOM GOOGLE MAP -->
<script type="text/javascript" src="{% static 'assets/libs/gmap/jquery.googlemap.js'%}"></script>

<!-- adding magnific popup js library -->
<script type="text/javascript" src="{% static 'assets/libs/maginificpopup/jquery.magnific-popup.min.js'%}"></script>

<!-- Owl Carousel  -->
<script src="{% static 'assets/libs/owlcarousel/owl.carousel.min.js'%}"></script>

<!-- COUNTDOWN   -->
<script src="{% static 'assets/libs/countdown.js'%}"></script>
<script src="{% static 'assets/libs/timer/TimeCircles.js'%}"></script>

<!-- Counter JS -->
<script src="{% static 'assets/libs/waypoints.min.js'%}"></script>
<script src="{% static 'assets/libs/counterup/jquery.counterup.min.js'%}"></script>

<!-- SMOTH SCROLL -->
<script src="{% static 'assets/libs/jquery.smooth-scroll.min.js'%}"></script>
<script src="{% static 'assets/libs/jquery.easing.min.js'%}"></script>

<!-- type js -->
<script src="{% static 'assets/libs/typed/typed.min.js'%}"></script>

<!-- header parallax js -->
<script src="{% static 'assets/libs/header-parallax.js'%}"></script>

<!-- instafeed js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>-->
<script src="{% static 'assets/libs/instafeed.min.js'%}"></script>

<!-- CUSTOM SCRIPT  -->
<script src="{% static 'assets/js/custom.script.js'%}"></script>

<!-- For Demo Purpose Only //Remove From Live-->


</body>
</html>
{% endblock %}