{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->



    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Register Nakshatra</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Register</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper">
            <!--News-->
            <section>
                <div class="container">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <form method="POST"  action="{% url 'register' %}">
                                        {% csrf_token %}
                                        
                                        <!-- <legend class="text-center">
                                                <h3>Register Nakshatra</h3>      
                                        </legend> -->
                                            
                                        {{ form_c|crispy }}
                                        {{ form_u|crispy }}
                                        <div class="form-group"> 
                                                <label for="id_participant1" class="col-form-label  requiredField">
                                                    participant 1
                                                    <span class="asteriskField">*</span>
                                                </label> 
                                                <div class=""> 
                                                    <input type="text" name="participant1" class="form-control" required id="id_participant1"> 
                                                </div> 
                                            </div>
                                            <div class="form-group"> 
                                                <label for="id_participant2" class="col-form-label  requiredField">
                                                    participant 2
                                                    <span class="asteriskField">*</span>
                                                </label> 
                                                <div class=""> 
                                                    <input type="text" name="participant2" class="form-control" required id="id_participant2"> 
                                                </div> 
                                            </div>
                                            <div class="form-group"> 
                                                <label for="id_participant3" class="col-form-label  requiredField">
                                                    participant 3
                                                    <span class="asteriskField">*</span>
                                                </label> 
                                                <div class=""> 
                                                    <input type="text" name="participant3" class="form-control" required id="id_participant3"> 
                                                </div> 
                                            </div>    
                                            <div class="form-group"> 
                                                <label for="id_participant4" class="col-form-label  requiredField">
                                                    participant 4
                                                    <span class="asteriskField">*</span>
                                                </label> 
                                                <div class=""> 
                                                    <input type="text" name="participant4" class="form-control" required id="id_participant4"> 
                                                </div> 
                                            </div>
                                            <div class="form-group"> 
                                                <label for="id_participant5" class="col-form-label  requiredField">
                                                    participant 5
                                                    <span class="asteriskField">*</span>
                                                </label> 
                                                <div class=""> 
                                                    <input type="text" name="participant5" class="form-control" required id="id_participant5"> 
                                                </div> 
                                            </div>
                                        <div class="form-goup text-center">
                                            <input class="lgx-btn hvr-glow hvr-radial-out lgxsend lgx-send" type="submit" value="Register">
                                        </div>
                            
                                    </form>
                                    <div class="form-goup text-center">
                                        <h4 class="text-muted">
                                            Already Have An Account? 
                                            <a href="{% url 'login' %}">Login Now</a>  
                                        </h3>
                                                        
                                        
                                    </div>
                            <!-- <form method="POST" class="lgx-contactform" action="http://themearth.com/demo/html/emeet/view/php/form-handler.php">
                                <div class="form-group">
                                    <input type="text" name="lgxname" class="form-control lgxname" id="lgxname" placeholder="Enter Your Name" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="lgxemail" class="form-control lgxemail" id="lgxemail" placeholder="Enter email" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="lgxsubject" class="form-control lgxsubject" id="lgxsubject" placeholder="Subject" required>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control lgxmessage" name="lgxmessage" id="lgxmessage" rows="5" placeholder="We expect drop some line from you..." required></textarea>
                                </div>


                                
                            </form> -->

                            <!-- MODAL SECTION -->
                            <div id="lgx-form-modal" class="modal fade lgx-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content lgx-modal-content">
                                        <div class="modal-header lgx-modal-header">
                                            <button type="button" class="close brand-color-hover" data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-power-off"></i>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="alert lgx-form-msg" role="alert"></div>
                                        </div> <!--//MODAL BODY-->

                                    </div>
                                </div>
                            </div> <!-- //MODAL -->

                        </div> <!--//.COL-->
                    </div>
                </div><!-- //.CONTAINER -->
            </section>
            <!--News END-->
        </div>
    </main>
{% endblock %}





